@model IEnumerable<AppUser>

<a clas="btn btn-primary" asp-action="Create">Create User</a>
<hr/>
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th style="width: 125px;"></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FullName</td>
            <td>@user.Email</td>
            <td>
                <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Edit</a>
                <form asp-action="Delete" method="post" onsubmit="return confirm('Emin misiniz?')" style="display: inline-block;">
                    <input type="hidden" name="id" value="@user.Id"/> <!--silinecek olan user'ın id'sini hidden input ile gönderiyoruz-->
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>